:root {
    --blu: #5c5cff;
    --gre: #00ff00;
    --fg: #e5e5e5;
    --fg1: #888;
    --bg: #181818;
}

.grn {
    color: var(--gre);
}

.grn::selection {
    background-color: var(--gre);
}

.blu {
    color: var(--blu);
}

.blu::selection {
    background-color: var(--blu);
}

::selection {
    background-color: var(--fg);
    color: var(--bg);
}

a::selection {
    background-color: var(--gre);
}

header a::selection {
    background-color: var(--blu);
}

small::selection {
    background-color: var(--fg1);
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 16px;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0 auto;
    max-width: 80ch;
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
    padding: 0 2rem 2rem;
    line-height: 1.5;
    animation: fadeIn .75s;
}

header {
    text-align: center;
    font-family: monospace;
    margin-bottom: 2rem;
}

header a {
    color: var(--blu);
}

header a:hover {
    padding: 1ch 2ch;
    background-color: var(--blu);
}

h1,h2,h3 {
    font-family: monospace;
    margin: 2rem 0 1rem;
    animation: slideInTop .5s;
}

h1 {
    font-size: 32px; /* 48px */
}

h2 {
    font-size: 24px; /* 32px */
}

h3 {
    font-size: 18px;
}

p,ul,ol,img {
    animation: slideInLeft .5s;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--gre);
    transition: padding .25s, color .25s, background-color .25s;
}

a:hover {
    padding: .5ch 1ch;
    color: var(--bg);
    background-color: var(--gre);
}

small {
    color: var(--fg1);
    font-size: inherit;
}

ul {
    padding-left: 3ch;
}

ul li {
    list-style-type: '- ';
}

ol {
    list-style: decimal-leading-zero;
    padding-left: 5ch;
}

li::marker {
    color: var(--fg1);
}

@font-face {
    font-family: JetBrains Mono;
    src: url("/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

/* Media query to stop padding growing hover effect on viewports <= to 320px */
@media screen and (max-width: 320px) {
    a:hover {
        padding: 0;
        color: var(--bg);
        background-color: var(--gre);
    }
    header a:hover {
        padding: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(10px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes invisible {
    from { opacity: 0; }
    to { opacity: 0; }
}

@keyframes slideInTop {
    from {
        transform: translateY(-1rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-2rem);
    }

    to {
        transform: translateY(0);
    }
}
