@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/css/jetbrainsmono.woff2) format('woff2');
}

:root {
    --blu: #5c5cff;
    --grn: #00ff00;
    --fg: #e5e5e5;
    --fg1: #888;
    --bg: #181818;
    --bg2: #272727;
    --bla: #000;
}

body {
    overflow-x: hidden;
    background-color: var(--bg);
    color: var(--fg);
    margin: 0 auto;
    max-width: 80ch;
    font-size: 16px;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    line-height: 1.5;
    padding: 2rem;
}

::selection {
    background-color: var(--fg);
    color: var(--bg);
}

/*
        HEADER
*/

header {
    text-align: center;
    animation: slide-in-top .5s, fade-in .5s;
}

header > * {
    margin: 0 0 1rem;
}

header a {
    color: var(--blu);
}

header a::selection {
    background-color: var(--blu);
}

/*
        EVERYTHING ELSE
*/

body > *:not(h1):not(h2):not(h3):not(header) {
    animation: invisible .25s, slide-in-left .5s .25s, fade-in .5s .25s;
}

h2,h3 {
    margin: 2rem 0 1rem;
    animation: slide-in-top .5s, fade-in .5s;
}

/* 
Though h1 is only used once in header, I feel it in more suitable here. 
Also I'm not sure if this is even good practice only using h1 for header.
*/
h1 {
    font-size: 32px; 
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

a {
    font-weight: bold;
    color: var(--grn);
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
}

a:hover, a:focus {
    text-decoration-style: solid;
    filter: brightness(120%);
}

a::selection {
    background-color: var(--grn);
    color: var(--bg);
}

small {
    color: var(--fg1);
    font-size: inherit;
}

small::selection {
    background-color: var(--fg1);
}

img,video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

ul {
    padding-left: 3ch;
}

ul li {
    list-style-type: '- ';
}

ol {
    list-style: decimal-leading-zero;
    padding-left: 5ch;
}

li::marker {
    color: var(--fg1);
}

code {
    display: block;
    background-color: var(--bg2);
    max-width: 100%;
    white-space: pre;
    margin: 0 1ch 1.5rem 0;
    padding: .5rem 1ch;
    box-shadow: 1ch .5rem var(--bla);
    overflow-x: auto;
}

/*
        CUSTOM CLASSES
*/

.center-text {
    text-align: center;
}

.grn {
    color: var(--grn);
}

.grn::selection {
    background-color: var(--grn);
}

.blu {
    color: var(--blu);
}

.grn::selection {
    background-color: var(--blu);
}

/*
        @ THINGS
*/

@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(10px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes invisible {
    from { opacity: 0; }
    to { opacity: 0; }
}

@keyframes slide-in-top {
    from {
        transform: translateY(-1rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-2rem);
    }

    to {
        transform: translateY(0);
    }
}
