@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/roboto-slab.min.css");

body {
    margin: 0 auto;
    max-width: 80ch;
    font-size: 16px;
    line-height: 1.5;
    padding: 5rem 2rem 2rem;
    color: #333;
    font-family: 'Roboto Slab', sans-serif;
}

h1,h2,h3 {
    line-height: 1;
}

blockquote {
    padding: 2rem;
    background: rgba(0, 0, 0, 0.05);
    border-left: 5px solid rgba(0, 0, 0, 0.1);
    margin: auto 0;
}

blockquote *:first-child {
    margin-top: 0;
}

blockquote *:last-child {
    margin-bottom: 0;
}